# ;{{ ansible_managed }}

source {{zplug_zshrc_path}}/zplug

{{zplug_zshrc_content}}

if ! zplug check --verbose; then
    zplug install
fi

# Install plugins if there are plugins that have not been installed
if ! zplug check --verbose; then
     printf "Install? [y/N]: "
     if read -q; then
         echo; zplug install
     fi
fi

zplug load --verbose
